<!DOCTYPE html>
<html>
  <head>
    <title>DocEditing</title>
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, class: 'btn', method: :delete) %>        
      </li>
    <% end %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
              
  </head>

  <body>
    <%= yield %>
  </body>
</html>
